body {
    background-image: url(/Users/npandit1/Downloads/annie-spratt-FSFfEQkd1sc-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container { 
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid burlywood;
    border-top: 40px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh; 
    padding-top: 4vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

.page-heading-main {
    font-family: Inter-Bold,sans-serif;
    font-size: 5vh;
    margin-bottom: 10px;
    margin-top: 1px;
}

.page-heading-secondary {
    font-family: Inter-Bold,sans-serif;
    font-size: 3vh;
    margin-bottom: 30px;
    margin-top: 20px;
}

create-article-form {
    padding: 50px;
}

.form-label {
    font-family: Inter-SemiBold,sans-serif;
    font-size: 1.7vh;
}

.form-input {
    font-size: 1.6vh;
    width: 60vh;
    padding: 0.6vh 1.1vh;
    border: 0.2vh solid #dee2e6;
    box-sizing: border-box;
    margin-top: 0.5vh;
    border-radius: 0.2vh;
    height: 4vh;
    margin-bottom: 1vh;
}

.form-button:disabled {
    margin-top: 1vh;
    background-color: #a4a4a4;
    font-size: 1.7vh;
    padding: 1vh 0vh;
    width: 100%;
    border-style: none;
    padding: 1.4vh 0vh;
    color: white;
    height: 5.6vh;
    cursor: pointer;
}

.form-button {
    margin-top: 1vh;
    background-color: burlywood;
    font-size: 1.7vh;
    padding: 1vh 0vh;
    width: 100%;
    border-style: none;
    padding: 1.4vh 0vh;
    color: white;
    height: 5.6vh;
    cursor: pointer;
}

.error {
    display: none;
    color: red;
    background-color: rgba(255, 99, 71, 0.4);
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 8px;
}

.confirm-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-confirm-container {
    visibility: visible;
}

.popup-box {
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid saddlebrown;
    border-top: 40px solid saddlebrown;
    padding-bottom: 5vh; 
    padding-top: 4vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

#text {
    font-size: 3vh;
}

#country {
    width: 15%;
}

#number {
    width: 100%;
}

.number {
    display: flex;
}

.submit-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-submit-container {
    visibility: visible;
}

.submit-message {
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid saddlebrown;
    border-top: 40px solid saddlebrown;
    padding-bottom: 5vh; 
    padding-top: 4vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

#message {
    font-size: 3vh;
    margin-top: 1px;
}

#submit-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: 95px;
}